<% content_for :page_title, 'Lockstep Labs | Custom Software Development Company - Your Project' %>
<main class="application-main-content">
  <div class="split-layout">
    <div class="split-layout-secondary photo-grid photo-grid--contact split-layout-secondary--fixed">
      <div class="photo-grid__photo"></div>
      <div class="photo-grid__photo"></div>
      <div class="photo-grid__photo"></div>
      <div class="photo-grid__photo"></div>
      <div class="photo-grid__photo"></div>
      <div class="photo-grid__photo"></div>
    </div>
    <div class="split-layout-primary">
      <div class="split-primary-wrapper">
        <section>
          <%= render partial: 'layouts/flash' %>
          <h1 class="text-green">Thank you for your interest</h1>
          <p>
            We are not currently accepting inquiries for new engagements. If you
            have been referred by a current client, please email one of our
            team members directly.
          </p>
        </section>
      </div>
    </div>
  </div>
</main>
