<% content_for :page_title, 'Ruby Rails, React, Angular, iOS, Android Custom Software Development' %>
<main class="application-main-content">
  <div class="services-wrapper" style="margin-bottom: 2rem;">
    <div class="services-header-wrapper">
      <img src="<%= asset_path('tech.png') %>" class="services-mobile-post-its mt-1">
      <header class="services-hero single-column-layout">
        <h1>
          Services &amp; Technology
        </h1>
      </header>
      <img src="<%= asset_path('tech.png') %>" class="services-top-post-its">
      <img src="<%= asset_path('tech.png') %>" class="services-bottom-post-its">
    </div>
    <section class="single-column-layout product-design" id="product-design">
      <header class="services-section-header">
        <p>
          Lockstep Labs specializes in Ruby on Rails, advanced JavaScript, native mobile apps, and API development for scalable, data-intensive systems.
        </p>
        <p>
          Our model is uniquely cost-effective: A permanent software team of expert developers led by our CTO in Bangkok, Thailand, supported by our CEO, account management and design in Boulder.
        </p>
        <p>
          With many years of collective technical and business experience, we know custom software.
          We deliver superior quality software with exceptional value while mitigating risk.
        </p>
        <p>
          We go the extra mile to understand the complexities and nuances of your business requirements. This is how we have successfully developed large-scale, complex systems for Fintech, Insurtech and Edtech innovators - beyond the capabilities of most small software development firms.
        </p>
        <p>
          Lockstep Labs specializes in:
        </p>
        <nav class="services-navigation">
          <ul>
            <li class="services-navigation-item">
              <u>Web Development</u>
              <ul class="services-navigation-secondary">
                <li>Ruby on Rails</li>
                <li>Node.js</li>
                <li>Clojure</li>
                <li>React</li>
                <li>AngularJS</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
              </ul>
            </li>
            <li class="services-navigation-item">
              <u>Mobile Development</u>
              <ul class="services-navigation-secondary">
                <li>iOS</li>
                <li>Android</li>
                <li>React Native</li>
              </ul>
            </li>
            <li class="services-navigation-item">
              <u>Database</u>
              <ul class="services-navigation-secondary">
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>MongoDB</li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
    </section>
  </div>
</main>
