<% content_for :page_title, 'Custom Software Development Company - Boulder Denver | Our Work' %>
<main class="application-main-content">
  <section class="split-layout split-layout--fixed-left work-hero">
    <div class="split-layout-secondary split-layout-secondary--fixed" style="max-height: 2744px;">
      <div class="bg-default"></div>
      <div class="bg-swap pathgather-image"></div>
      <div class="bg-swap bungalow-image"></div>
    </div>
    <div class="split-layout-primary">
      <div class="split-primary-wrapper">
        <div class="split-primary-inner-wrapper">
          <h1 class="title-primary">Our Work</h1>
          <ul class="case-studies-list">
            <li>
              <a id="trustbooks" data-type="splitfit-image" href="https://www.trustbooks.com/" target="_blank">
                <h4 class="case-study-subheading">
                  <img src="<%= asset_path('trustbooks-icon.png') %>" class="client-icon" /> TrustBooks
                  <span class="case-study-services">SIMPLIFY YOUR TRUST ACCOUNTING</span>
                </h4>
                <h2 class="case-study-heading">Trust accounting software for small law firms</h2>
              </a>
              <p class="paragraph-primary">
                Trustbooks is a specialized SaaS solution built specifically for law firms to manage their clients’ trust accounts. We collaborated with our client to simplify and optimize the user experience and workflow with an efficient, UX-driven design process. The application handles the complexity and ensures legal compliance across all 50 states with the ability to easily modify rules as new regulations are enacted.
              </p>
              <p class="paragraph-primary">
                Only two things scare lawyers: Trust accounting and other lawyers. This exciting SaaS solution makes trust accounting dead simple, and ensures that lawyers stay compliant with their State Bar without hiring expensive specialists. TrustBooks has built-in controls to ensure firms stay on track while managing all of the necessary workflows, from printing checks to reconciling accounts. Think of QuickBooks without the headache.
              </p>
              <p class="paragraph-primary">
                Our priorities during the Version 1 build were simplicity and security. Since accounting tools are intrinsically complex we followed a rigorous "front first" approach to test workflows before any backend functionality was added. And given the sensitive nature of the legal market we took extra precautions against malicious use. TrustBooks users can be confident that their data is being protected by best practice architecture and best-in-class infrastructure providers.
              </p>
            </li>
            <li>
              <a id="pathgather" data-type="pathgather-image" data-nav="nav-light" href="https://pathgather.com/" target="_blank">
                <h4 class="case-study-subheading" style="margin-top: 4rem;">
                  <img src="<%= asset_path('pathgather-icon.png') %>" class="client-icon" /> Pathgather
                  <span class="case-study-services">Transform your workforce</span>
                </h4>
                <h2 class="case-study-heading">
                  The Talent Development Platform for Enterprise Leaders
                </h2>
              </a>
              <p class="paragraph-primary">
                Pathgather is a next-generation learning management system that creates a single, unified learning destination for your employees by integrating internal and external content sources. Employees engage and collaborate with personalized content, while employers gain valuable insights into their entire learning ecosystem and their team’s learning needs. Pathgather is a Techstars company with a growing client base of Fortune 500 customers including HP, Visa and Qualcomm.
              </p>
              <p class="paragraph-primary">
                Lockstep completed this major full-cycle development project, taking Pathgather from concept to launch, and we continue to provide ongoing enhancements and maintenance. The project included development of the enterprise web application, native mobile apps, and multiple API integrations.
              </p>
              <p class="paragraph-primary">
                The application’s advanced functionality gives Pathgather a defensible, competitive advantage enabling their customers to:
                <ul class="project-bullet paragraph-primary">
                  <li>Track employee learning across multiple, external content sources</li>
                  <li>Recognize employees for what they’ve learned</li>
                  <li>See what their peers are learning</li>
                  <li>Set learning goals and receive automated reminders to stay on track</li>
                  <li>Curate and recommend resources and create a single, comprehensive learning curriculum</li>
                  <li>Access analytics for insights across their entire learning ecosystem, providing true alignment metrics for your learning strategies</li>
                  <li>Customize Pathgather with their logo and brand colors</li>
                </ul>
              </p>
            </li>
            <li>
              <a id="bungalow" data-type="bungalow-image" data-nav="nav-light" href="https://www.bungalowinsurance.com/" target="_blank">
                <h4 class="case-study-subheading" style="margin-top: 4rem;">
                  <img src="<%= asset_path('bungalow-icon.ico') %>" class="client-icon" /> Bungalow Insurance
                  <span class="case-study-services">Simplifying renters insurance</span>
                </h4>
                <h2 class="case-study-heading">
                  Experts in Insurance for the Modern Consumer
                </h2>
              </a>
              <p class="paragraph-primary">
                Bungalow Insurance has created a simple direct-to-consumer experience for purchasing renters insurance. No calls to insurance reps necessary, just a seamless web or mobile workflow. A graduate of the DreamIt Ventures accelerator program, Bungalow is a licensed independent insurance broker.
              </p>
              <p class="paragraph-primary">
                Bungalow is a market leader in direct to consumer insurance,
                spearheading a new model of leveraging existing underwriting
                systems by layering on a contemporary API
                interface to enable their unique insurance delivery model.
                The Lockstep team worked closely with the team at Homesite
                (a large carrier/underwriter) in order to deliver this
                novel hybrid of old/new infrastructure.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
