.section {
  min-height: 0;

  .section-image {
    height: 760px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.content {
  padding: 5rem;
}

.title {
  color: $green;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.paragraph {
  font-size: 1.1em;
}

.portfolio {
  background-color: $blue;
  h1, h2, h3, p {
    color: white;
  }

  .carousel-item {
    p {
      padding: 1.5rem;
      height: 190px;
    }
  }

  .portfolio-image {
    min-height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.partner {
  padding: 4rem 8rem;

  .partner-logo {
    min-height: 90px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.move-loot {
  background-color: $red;
  color: white;

  .carousel-control-prev, .carousel-control-next {
    width: 2%;
  }

  .move-loot-image {
    min-height: 455px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .gradient-line {
    background: $red;
    height: 2px;
    background: radial-gradient(closest-side at 50% 50%, #fff, $red);
  }
}

.icon-list {
  margin-top: 2rem;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.icon-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding-left: 2.625rem;
  position: relative;

  svg {
    position: absolute;
    top: -5px;
    left: 0;
    max-width: 31px;
    overflow: hidden;
  }
  &:nth-of-type(1), &:nth-of-type(2) {
    padding-bottom: 1.5rem;
  }
  &:nth-child(2n+1) {
    clear: left;
  }
  &:nth-child(2n) {
    margin-right: 0;
  }
}

.experience, .join {
  .btn-primary {
    margin-top: 5rem;
  }
}

.testimonials {
  background-color: $green;

  .customer-quote {
    p, cite {
      font-size: 1.2em;
      color: #fcf8f2;
    }
  }
}

.customer-logos-wrapper {
  padding: 4rem 3rem;

  .customer-logo {
    background-position: center;
    background-size: contain;
    min-height: 100px;
    background-repeat: no-repeat;
  }
}

.our-craft {
  background-image: image-url('handwritten.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.overlay {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.7;
  padding: 4rem 15rem;

  h1 {
    color: white;
    margin-bottom: 40px;
  }

  p {
    color: white;
    font-size: 1.2em;
  }
}

@include media-breakpoint-down(md) {
  .overlay {
    padding: 4rem 2rem;
  }

  .portfolio {
    .carousel-item {
      p {
        padding: 0.5rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .content {
    padding: 2rem;
  }

  .btn-wrapper {
    text-align: center;
  }

  .overlay {
    padding: 4rem 2rem;
  }

  .portfolio {
    .portfolio-image {
      min-height: 300px;
    }
  }

  .partner {
    padding: 2rem;
  }

  .icon-item {
    width: 100%;
    margin-right: 0;

    &:nth-of-type(1), &:nth-of-type(2) {
      padding-bottom: 0;
    }
  }

  .customer-logos-wrapper {
    padding: 2rem 3rem;
  }

  .section {
    .section-image {
      height: 450px;
    }
  }
}
