.team {
  .main-image {
    background-position: bottom;
    background-size: cover;
    height: 500px;
  }

  .staff-image {
    background-position: center;
    background-size: contain;
    height: 175px;
    background-repeat: no-repeat;
  }

  .team-wrapper {
    padding: 3.5rem;
  }

  .staff-name {
    background-color: $green;
    color: white;
  }

  .profile {
    margin-bottom: 30px;
  }

  .staff {
    img {
      width: 100%;
      height: auto;
    }

    .rounded-circle {
      margin-bottom: 30px;
    }
  }

  .bio {
    h2 {
      color: $green;
      text-transform: uppercase;
      font-size: 1.5em;
      letter-spacing: .2em;
    }
    h3 {
      font-size: 1.1em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: .2em;
    }

    .paragraph-primary {
      font-size: 1.2em;
    }
  }

  .section-title {
    margin-top: 2rem;
    margin-bottom: 5rem;
    letter-spacing: 0.3em;
  }

  .bio {
    .social-links {
      a {
        color: #3d3e44;
        border: none;

        &:hover {
          cursor: pointer;
          &.twitter {
            color: #55acee;
          }
          &.github {
            color: #6e5494;
          }
          &.linkedin {
            color: #007bb5;
          }
          &.stack-overflow {
            color: #f48024;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .team {
    .main-image {
      height: 250px;
    }

    .staff-image {
      height: 300px;
    }

    .team-wrapper {
      padding: 2.5rem;
    }

    .flip-container, .front, .back {
      height: 300px;
    }

    .col-xs-6 {
      width: 50%;
    }

    .bio {
      .social-links {
        text-align: center;
      }
    }
  }
}
