<footer class='application-footer' id="contact-us">
  <div class='footer-content'>
    <div class="row no-gutters">
      <div class="col-md-12 col-lg-8">
        <div class="navigation-groups">
          <h3 class='navigation-group-title'>Contact Us</h3>
        </div>
        <div class="navigation-groups">
          Get in touch today for a free consultation.
        </div>
        <ul class='navigation-groups mt-3'>
          <li class='navigation-group'>
            <ul>
              <li>
                <span class='navigation-group-address'>Lockstep Labs - USA</span>
              </li>
              <li style="line-height: 1.4;">
                Yale Rd.<br/>
                Boulder, Colorado<br/>
                303.443.4368<br/>
              </li>
            </ul>
          </li>
          <li class="navigation-group">
            <ul>
              <li>
                <span class='navigation-group-address'>Lockstep Labs - Thailand</span>
              </li>
              <li style="line-height: 1.4;">
                405, 208 Witthayu Rd,<br/>
                Khwaeng Lumphini,<br/>
                Khet Pathum Wan<br/>
                Bangkok, Thailand 10330<br/>
                +66 2651-5269
              </li>
            </ul>
          </li>
        </ul>
        <div class="navigation-groups">
          <a href="https://github.com/lockstep" target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </div>
        <div class="navigation-groups mb-4">
          <a href="https://twitter.com/locksteplabs" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <a style="color: white;" class="button-primary btn-block" href="<%= contact_path %>">
          Tell us about your project
        </a>
      </div>
    </div>
  </div>
  <div class='copyright navigation-groups'>
    <strong>
      &copy; <%= Date.today.year %> Lockstep Labs, LLC
    </strong>
  </div>
</footer>
